@model HortaOrganicaWebApp.Models.LoginViewModel

<div class="row">
    <div class="offset-4 col-md-4 offset-4">
        <h4>
            <i class="fas fa-lock fa-2x"></i>
            Entre com sua conta
        </h4>
        <hr />
        <form asp-action="Login">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Senha" class="control-label"></label>
                <input asp-for="Senha" class="form-control" />
                <span asp-validation-for="Senha" class="text-danger"></span>
            </div>
            <div class="form-group text-center">
                <input type="submit" value="Entrar" class="btn btn-primary" />
                <a asp-action="Index" asp-controller="Home" class="btn btn-secondary">Voltar</a>
            </div>
            <div class="form-group text-center">
                <a asp-action="Cadastro" asp-controller="Usuario" class="btn btn-link">
                    Não tem uma conta? Cadastre-se!
                </a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
